<tr>
    <td class="py-3">
      <div class="progress">
        <div class="progress-bar" role="progressbar progress-bar-animated" style="width: 0%" aria-valuenow="100"
          aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </td>

    <td class="py-3">
      <div class="progress">
        <div class="progress-bar" role="progressbar progress-bar-animated" style="width: 0%" aria-valuenow="100"
          aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </td>


    <td class="py-3">
      <div class="progress">
        <div class="progress-bar" role="progressbar progress-bar-animated" style="width: 0%" aria-valuenow="100"
          aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </td>


    <td class="py-3">
      <div class="progress">
        <div class="progress-bar" role="progressbar progress-bar-animated" style="width: 0%" aria-valuenow="100"
          aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </td>
  </tr>
  <tr>
    <td class="py-3">
      <div class="progress">
        <div class="progress-bar" role="progressbar progress-bar-animated" style="width: 0%" aria-valuenow="100"
          aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </td>

    <td class="py-3">
      <div class="progress">
        <div class="progress-bar" role="progressbar progress-bar-animated" style="width: 0%" aria-valuenow="100"
          aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </td>


    <td class="py-3">
      <div class="progress">
        <div class="progress-bar" role="progressbar progress-bar-animated" style="width: 0%" aria-valuenow="100"
          aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </td>


    <td class="py-3">
      <div class="progress">
        <div class="progress-bar" role="progressbar progress-bar-animated" style="width: 0%" aria-valuenow="100"
          aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </td>
  </tr>
  <tr>
    <td class="py-3">
      <div class="progress">
        <div class="progress-bar" role="progressbar progress-bar-animated" style="width: 0%" aria-valuenow="100"
          aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </td>

    <td class="py-3">
      <div class="progress">
        <div class="progress-bar" role="progressbar progress-bar-animated" style="width: 0%" aria-valuenow="100"
          aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </td>


    <td class="py-3">
      <div class="progress">
        <div class="progress-bar" role="progressbar progress-bar-animated" style="width: 0%" aria-valuenow="100"
          aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </td>


    <td class="py-3">
      <div class="progress">
        <div class="progress-bar" role="progressbar progress-bar-animated" style="width: 0%" aria-valuenow="100"
          aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </td>
  </tr>