<section>

    <div class="col-12 col-top-search">
        <div class="row py-4">
            <div class="col-4">
                <button type="button" class="btn btn-add" (click)="openAdd()">Adicionar</button>
            </div>

            <div class="col-7">
                <input class="form-control" type="text" [placeholder]="placeHolderContent"
                id="search-text" aria-describedby="search-text"  autofocus>
            </div>
            <div class="col-1 d-flex flex-wrap align-content-center">
                <fa-icon [icon]="faSearch" class="fa-lg"></fa-icon>
            </div>
        </div>

    </div>

</section>