.form-control{
    border: none;
    border-bottom: 1px solid;
    border-radius: inherit;
    text-align: end !important;
    font-size: 22px !important;
    color: #969FAA!important;
    width: 98% !important;
    background-color: #F0F0F0 !important;
}