<table class="table table-bordered mt-5">
    <thead>
        <tr>
            <th class="py-4 text-center" *ngFor="let item of listTitle">{{item.title}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of listContent">
            <td class="table-content">{{item?.nome}}</td>
            <td class="table-content">{{item?.tipo}}</td>
            <td class="table-content">{{item?.data}}</td>
            <td class="table-content">
                <button type="button" class="btn btn-action-edit mr-4">
                    <fa-icon [icon]="faPen"></fa-icon>
                </button>
                <button type="button" class="btn btn-action-delete">
                    <fa-icon [icon]="faTrashAlt"></fa-icon>
                </button>
            </td>
        </tr>

    </tbody>
</table>