
.wrapper {	

  background-image:url("../../assets/Raster.jpg");	
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.form-signin {
  max-width: 500px;
  height: 435px;
  padding: 23px 101px 45px;
  margin: 100px 100px;
  background-color: #eaf2d487;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;

  .title{
    color:#695f28;
    font-family: inherit;
    font-size: 40px;
  }

  .form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
	}

    .btn-login{
        width: 134px;
        font-weight:600;
        background-color: #777b70b5!important
    }

    p{
        font-weight:600;
    }

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		&:focus {
		  z-index: 2;
		}
	}

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
}
