.col-title{
  color: #47525E;
  font-size: 35px;
  line-height: 45px;
  text-align: right;
  border-bottom: 1px solid #47525E;
  padding-right: 20px;
}

.col-chart{
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 30px;
}