<div class="modal-header">
    <h4 class="modal-title pull-left">Excluir - {{text | titlecase}} {{item?.nome}} </h4>
    <button type="button" class="close pull-right btn btn-light" aria-label="Close" (click)="bsModalRef.hide()">
        <fa-icon [icon]=" faTimes"></fa-icon>
        <span aria-hidden="true"></span>
    </button>
</div>

<ng-container *ngIf="!submitform">
    <div class="modal-body p-4">
        <h5>Tem certeza que deseja excluir o cadastro do {{text}} {{item?.nome | titlecase}}?</h5>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-cancelar" (click)="bsModalRef.hide()">Não</button>

        <button type="button" class="btn btn-salvar" (click)="sendDelete()">Sim</button>
    </div>
</ng-container>

<ng-container *ngIf="submitform">
    <div class="modal-body text-center py-4">
        <h5>{{mgs}}</h5>
    </div>
</ng-container>