/* You can add global styles to this file, and also import other style files */

.row{
    margin-right: 0;
    margin-left: 0;
}

.btn-salvar{
    border-radius: 30px;
    width: 125px;
    background-color: #139DCE;
    font-size: 20px;
    color: white;
}

.btn-cancelar{
    border-radius: 30px;
    width: 125px;
    background-color: #F95F62;
    font-size: 20px;
    color: white;    
    margin-right: 40px;
}
